/****** Object:  UserDefinedFunction [dbo].[CHECK_APERTURA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_APERTURA] (@NUMERO_CUENTA INT) RETURNS INT
AS
BEGIN
	DECLARE @RETORNO INT
	SET @RETORNO = 0
	DECLARE @FECHA_HORA DATETIME
	DECLARE @ID_MONEDA INT
	SET @ID_MONEDA = (SELECT ID_MONEDA FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA)
	DECLARE @TIPO_CUENTA VARCHAR(100)
	SET @TIPO_CUENTA = (SELECT TIPO_CUENTA FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA)
	SET @FECHA_HORA = (SELECT FECHA_APERTURA FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA)
	DECLARE @SALDO DECIMAL(20,5)
	SET @SALDO = (SELECT SALDO FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA)
	IF(@FECHA_HORA = GETDATE() AND 
	((@ID_MONEDA = 1 AND @TIPO_CUENTA = 'COMERCIAL' AND @SALDO >= 50000.00) OR
	(@ID_MONEDA = 1 AND @TIPO_CUENTA = 'PREMIUM' AND @SALDO >= 500000.00) OR
	(@ID_MONEDA = 2 AND @TIPO_CUENTA = 'COMERCIAL' AND @SALDO >= 45000.00) OR
	(@ID_MONEDA = 2 AND @TIPO_CUENTA = 'PREMIUM' AND @SALDO >= 455000.00) OR
	(@ID_MONEDA = 3 AND @TIPO_CUENTA = 'PREMIUM' AND @SALDO >= 109.92)))
		BEGIN
			SET @RETORNO = 1
		END
	ELSE
		BEGIN
			IF(@FECHA_HORA <> GETDATE())
				BEGIN
					SET @RETORNO = 1	
				END
			ELSE
				BEGIN
					SET @RETORNO = 0
				END
		END
	RETURN @RETORNO
END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_BENEFICIARIO]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_BENEFICIARIO](@ID_CLIENTE INT, @NUMERO_CUENTA INT) RETURNS INT
AS
BEGIN
	DECLARE @ID_C INT
	SET @ID_C = (SELECT ID_CLIENTE FROM CLIENTE_CUENTA 
	WHERE (NUMERO_CUENTA = @NUMERO_CUENTA AND ID_CLIENTE = @ID_CLIENTE))
	DECLARE @RETORNO INT
	SET @RETORNO = 0
	IF(@ID_C = @ID_CLIENTE)
		BEGIN
			SET @RETORNO = 1
		END
	ELSE
		BEGIN
			SET @RETORNO = 0
		END
	RETURN @RETORNO
END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_CUENTA_TIPO]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_CUENTA_TIPO] (@ID_CLIENTE INT, @NUMERO_CUENTA INT) RETURNS INT
AS
BEGIN
	DECLARE @CLIENTE_TIPO VARCHAR(100)
	SET @CLIENTE_TIPO = (SELECT TIPO_CLIENTE FROM CLIENTE WHERE ID_CLIENTE = @ID_CLIENTE)
	DECLARE @CUENTA_TIPO VARCHAR(100)
	SET @CUENTA_TIPO = (SELECT TIPO_CUENTA FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA)
	DECLARE @RETORNO INT
	SET @RETORNO = 0
	IF((@CUENTA_TIPO = 'COMERCIAL' AND @CLIENTE_TIPO = 'EMPRESA') OR (@CUENTA_TIPO = 'PREMIUM'))
		BEGIN
			SET @RETORNO = 1
		END
	ELSE
		BEGIN
			SET @RETORNO = 0
		END
	RETURN @RETORNO
END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_CUENTAS]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_CUENTAS] (@CUENTA_ORIGEN INT, @CUENTA_DESTINO VARCHAR(100)) RETURNS INT
AS
BEGIN
	DECLARE @TIPO_CO VARCHAR(100)
	DECLARE @TIPO_CD VARCHAR(100)
	SET @TIPO_CO = (SELECT TIPO_CUENTA FROM CUENTA WHERE NUMERO_CUENTA = @CUENTA_ORIGEN)
	DECLARE @T INT
	SET @T = NULL
	SET @T = TRY_PARSE(@CUENTA_DESTINO AS INT)
	IF(ISNUMERIC(@T) = 1)
		BEGIN
			SET @TIPO_CD = (SELECT TIPO_CUENTA FROM CUENTA WHERE NUMERO_CUENTA = @T)
		END
	DECLARE @RETORNO INT
	SET @RETORNO = 0
	IF((@TIPO_CO = 'COMERCIAL' AND @TIPO_CD = 'COMERCIAL') OR (@TIPO_CO = 'PREMIUM'))
		BEGIN
			SET @RETORNO = 1
		END
	RETURN @RETORNO
END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_HORA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_HORA] (@CUENTA_ORIGEN INT) RETURNS INT
AS
BEGIN
	DECLARE @CO INT
	SET @CO = (SELECT ID_MONEDA FROM CUENTA WHERE NUMERO_CUENTA = @CUENTA_ORIGEN)
	DECLARE @RETORNO INT
	SET @RETORNO = 0
	IF((@CO = 3 AND DATEPART(HOUR, GETDATE()) >= 8 AND DATEPART(HOUR, GETDATE()) <= 14) OR (@CO = 1) OR (@CO = 2))
		BEGIN
			SET @RETORNO = 1
		END
	RETURN @RETORNO
END
GO
/****** Object:  UserDefinedFunction [dbo].[COMPARAR_PAIS]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[COMPARAR_PAIS] (@ID_CLIENTE INT, @NUMERO_CUENTA INT) RETURNS INT 
AS
BEGIN
	DECLARE @CLIENTE_PAIS VARCHAR(100)
	SET @CLIENTE_PAIS = (SELECT PAIS FROM CLIENTE WHERE ID_CLIENTE = @ID_CLIENTE)
	DECLARE @CUENTA_PAIS VARCHAR(100)
	SET @CUENTA_PAIS = (SELECT PAIS FROM SUCURSAL WHERE ID_SUCURSAL = (SELECT ID_SUCURSAL FROM CUENTA WHERE NUMERO_CUENTA = @NUMERO_CUENTA))
	DECLARE @RETORNO INT
	SET @RETORNO = 1
	IF(@CLIENTE_PAIS = @CUENTA_PAIS)
		BEGIN
			SET @RETORNO = 1
		END
	ELSE
		BEGIN
			SET @RETORNO = 0
		END
	RETURN @RETORNO
END
GO
/****** Object:  Table [dbo].[BENEFICIARIO]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFICIARIO](
	[ID_CLIENTE] [int] NOT NULL,
	[NUMERO_CUENTA] [int] NOT NULL,
 CONSTRAINT [PK_BENEFICIARIO] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[NUMERO_CUENTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_CLIENTE] [varchar](11) NOT NULL,
	[PAIS] [varchar](100) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[NOMBRE_1] [varchar](50) NOT NULL,
	[NOMBRE_2] [varchar](50) NULL,
	[APELLIDO_1] [varchar](50) NULL,
	[APELLIDO_2] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_CUENTA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_CUENTA](
	[NUMERO_CUENTA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE_CUENTA] PRIMARY KEY CLUSTERED 
(
	[NUMERO_CUENTA] ASC,
	[ID_CLIENTE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[NUMERO_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MONEDA] [int] NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[TIPO_CUENTA] [varchar](10) NOT NULL,
	[SALDO] [decimal](20, 2) NOT NULL,
	[FECHA_APERTURA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO_CUENTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONEDA](
	[ID_MONEDA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[PAIS] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_CAMBIO]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_CAMBIO](
	[MONEDA_1] [int] NOT NULL,
	[MONEDA_2] [int] NOT NULL,
	[VALOR_CAMBIO] [decimal](20, 5) NOT NULL,
	[ULTIMA_MODIFICACION] [date] NULL,
 CONSTRAINT [PK_TIPO_DE_CAMBIO] PRIMARY KEY CLUSTERED 
(
	[MONEDA_1] ASC,
	[MONEDA_2] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[CUENTA_DESTINO] [varchar](100) NOT NULL,
	[CUENTA_ORIGEN] [int] NOT NULL,
	[MONTO] [decimal](20, 2) NOT NULL,
	[ACCION] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION_CUENTA]    Script Date: 17/03/2020 00:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION_CUENTA](
	[ID_TRANSACCION] [int] NOT NULL,
	[NUMERO_CUENTA] [int] NOT NULL,
	[MONEDA_1] [int] NULL,
	[MONEDA_2] [int] NULL,
 CONSTRAINT [PK_TRANSACCION_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC,
	[NUMERO_CUENTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BENEFICIARIO] ([ID_CLIENTE], [NUMERO_CUENTA]) VALUES (1, 1)
INSERT [dbo].[BENEFICIARIO] ([ID_CLIENTE], [NUMERO_CUENTA]) VALUES (2, 1)
INSERT [dbo].[BENEFICIARIO] ([ID_CLIENTE], [NUMERO_CUENTA]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIPO_CLIENTE], [PAIS], [FECHA_NACIMIENTO], [NOMBRE_1], [NOMBRE_2], [APELLIDO_1], [APELLIDO_2]) VALUES (1, N'INDIVIDUAL', N'GUATEMALA', CAST(N'1998-10-11' AS Date), N'SERGIO', N'DANIEL', N'LARA', N'VASQUEZ')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIPO_CLIENTE], [PAIS], [FECHA_NACIMIENTO], [NOMBRE_1], [NOMBRE_2], [APELLIDO_1], [APELLIDO_2]) VALUES (2, N'INDIVIDUAL', N'MEXICO', CAST(N'1969-05-08' AS Date), N'DANIELA', N'ROCIO', N'SOLANO', N'RUANO')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIPO_CLIENTE], [PAIS], [FECHA_NACIMIENTO], [NOMBRE_1], [NOMBRE_2], [APELLIDO_1], [APELLIDO_2]) VALUES (3, N'INDIVIDUAL', N'COSTA RICA', CAST(N'1993-09-03' AS Date), N'ANDRES', N'SEBASTIAN', N'GALVEZ', N'ARAIZA')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
INSERT [dbo].[CLIENTE_CUENTA] ([NUMERO_CUENTA], [ID_CLIENTE]) VALUES (1, 11)
INSERT [dbo].[CLIENTE_CUENTA] ([NUMERO_CUENTA], [ID_CLIENTE]) VALUES (2, 12)
INSERT [dbo].[CLIENTE_CUENTA] ([NUMERO_CUENTA], [ID_CLIENTE]) VALUES (3, 13)
SET IDENTITY_INSERT [dbo].[CUENTA] ON 

INSERT [dbo].[CUENTA] ([NUMERO_CUENTA], [ID_MONEDA], [ID_SUCURSAL], [TIPO_CUENTA], [SALDO], [FECHA_APERTURA]) VALUES (1, 1, 1, N'COMERCIAL', CAST(50000.00 AS Decimal(20, 2)), CAST(N'2020-03-17T04:55:29.780' AS DateTime))
INSERT [dbo].[CUENTA] ([NUMERO_CUENTA], [ID_MONEDA], [ID_SUCURSAL], [TIPO_CUENTA], [SALDO], [FECHA_APERTURA]) VALUES (2, 1, 3, N'COMERCIAL', CAST(50000.00 AS Decimal(20, 2)), CAST(N'2020-03-17T04:55:29.790' AS DateTime))
INSERT [dbo].[CUENTA] ([NUMERO_CUENTA], [ID_MONEDA], [ID_SUCURSAL], [TIPO_CUENTA], [SALDO], [FECHA_APERTURA]) VALUES (3, 1, 2, N'COMERCIAL', CAST(50000.00 AS Decimal(20, 2)), CAST(N'2020-03-17T04:55:29.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUENTA] OFF
SET IDENTITY_INSERT [dbo].[MONEDA] ON 

INSERT [dbo].[MONEDA] ([ID_MONEDA], [NOMBRE]) VALUES (3, N'BITCOIN')
INSERT [dbo].[MONEDA] ([ID_MONEDA], [NOMBRE]) VALUES (1, N'DOLAR')
INSERT [dbo].[MONEDA] ([ID_MONEDA], [NOMBRE]) VALUES (2, N'EURO')
SET IDENTITY_INSERT [dbo].[MONEDA] OFF
SET IDENTITY_INSERT [dbo].[SUCURSAL] ON 

INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [PAIS]) VALUES (11, N'ANDORRA')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [PAIS]) VALUES (7, N'ARGENTINA')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [PAIS]) VALUES (8, N'COREA DEL SUR')
SET IDENTITY_INSERT [dbo].[SUCURSAL] OFF
INSERT [dbo].[TIPO_DE_CAMBIO] ([MONEDA_1], [MONEDA_2], [VALOR_CAMBIO], [ULTIMA_MODIFICACION]) VALUES (1, 1, CAST(1.00000 AS Decimal(20, 5)), CAST(N'2020-03-17' AS Date))
INSERT [dbo].[TIPO_DE_CAMBIO] ([MONEDA_1], [MONEDA_2], [VALOR_CAMBIO], [ULTIMA_MODIFICACION]) VALUES (1, 2, CAST(0.90000 AS Decimal(20, 5)), CAST(N'2020-03-17' AS Date))
INSERT [dbo].[TIPO_DE_CAMBIO] ([MONEDA_1], [MONEDA_2], [VALOR_CAMBIO], [ULTIMA_MODIFICACION]) VALUES (1, 3, CAST(0.00019 AS Decimal(20, 5)), CAST(N'2020-03-17' AS Date))
SET IDENTITY_INSERT [dbo].[TRANSACCION] ON 

INSERT [dbo].[TRANSACCION] ([ID_TRANSACCION], [FECHA_HORA], [CUENTA_DESTINO], [CUENTA_ORIGEN], [MONTO], [ACCION]) VALUES (55, CAST(N'2020-03-17T06:02:40.050' AS DateTime), N'1', 1, CAST(50.00 AS Decimal(20, 2)), N'RETIRO')
INSERT [dbo].[TRANSACCION] ([ID_TRANSACCION], [FECHA_HORA], [CUENTA_DESTINO], [CUENTA_ORIGEN], [MONTO], [ACCION]) VALUES (56, CAST(N'2020-03-17T06:02:40.053' AS DateTime), N'2', 1, CAST(200.00 AS Decimal(20, 2)), N'DEPOSITO')
INSERT [dbo].[TRANSACCION] ([ID_TRANSACCION], [FECHA_HORA], [CUENTA_DESTINO], [CUENTA_ORIGEN], [MONTO], [ACCION]) VALUES (57, CAST(N'2020-03-17T06:02:40.057' AS DateTime), N'13', 13, CAST(95461.00 AS Decimal(20, 2)), N'RETIRO')
SET IDENTITY_INSERT [dbo].[TRANSACCION] OFF
INSERT [dbo].[TRANSACCION_CUENTA] ([ID_TRANSACCION], [NUMERO_CUENTA], [MONEDA_1], [MONEDA_2]) VALUES (55, 1, 1, 1)
INSERT [dbo].[TRANSACCION_CUENTA] ([ID_TRANSACCION], [NUMERO_CUENTA], [MONEDA_1], [MONEDA_2]) VALUES (56, 2, 1, 1)
INSERT [dbo].[TRANSACCION_CUENTA] ([ID_TRANSACCION], [NUMERO_CUENTA], [MONEDA_1], [MONEDA_2]) VALUES (57, 13, 2, 2)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MONEDA__B21D0AB99519CBFA]    Script Date: 17/03/2020 00:16:20 ******/
ALTER TABLE [dbo].[MONEDA] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SUCURSAL__5986FD7B3124139A]    Script Date: 17/03/2020 00:16:20 ******/
ALTER TABLE [dbo].[SUCURSAL] ADD UNIQUE NONCLUSTERED 
(
	[PAIS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTA] ADD  DEFAULT (getdate()) FOR [FECHA_APERTURA]
GO
ALTER TABLE [dbo].[TIPO_DE_CAMBIO] ADD  DEFAULT (getdate()) FOR [ULTIMA_MODIFICACION]
GO
ALTER TABLE [dbo].[BENEFICIARIO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[BENEFICIARIO] CHECK CONSTRAINT [FK_CLIENTE]
GO
ALTER TABLE [dbo].[BENEFICIARIO]  WITH CHECK ADD  CONSTRAINT [FK_NUMERO_CUENTA] FOREIGN KEY([NUMERO_CUENTA])
REFERENCES [dbo].[CUENTA] ([NUMERO_CUENTA])
GO
ALTER TABLE [dbo].[BENEFICIARIO] CHECK CONSTRAINT [FK_NUMERO_CUENTA]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [FK_ID_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_NUMERO_CUENTA2] FOREIGN KEY([NUMERO_CUENTA])
REFERENCES [dbo].[CUENTA] ([NUMERO_CUENTA])
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [FK_NUMERO_CUENTA2]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_ID_MONEDA] FOREIGN KEY([ID_MONEDA])
REFERENCES [dbo].[MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_ID_MONEDA]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_ID_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_ID_SUCURSAL]
GO
ALTER TABLE [dbo].[TIPO_DE_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_MONEDA1] FOREIGN KEY([MONEDA_1])
REFERENCES [dbo].[MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[TIPO_DE_CAMBIO] CHECK CONSTRAINT [FK_MONEDA1]
GO
ALTER TABLE [dbo].[TIPO_DE_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_MONEDA2] FOREIGN KEY([MONEDA_2])
REFERENCES [dbo].[MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[TIPO_DE_CAMBIO] CHECK CONSTRAINT [FK_MONEDA2]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_ORIGEN] FOREIGN KEY([CUENTA_ORIGEN])
REFERENCES [dbo].[CUENTA] ([NUMERO_CUENTA])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_CUENTA_ORIGEN]
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_MONEDAS] FOREIGN KEY([MONEDA_1], [MONEDA_2])
REFERENCES [dbo].[TIPO_DE_CAMBIO] ([MONEDA_1], [MONEDA_2])
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA] CHECK CONSTRAINT [FK_MONEDAS]
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_NUMERO_CUENTA3] FOREIGN KEY([NUMERO_CUENTA])
REFERENCES [dbo].[CUENTA] ([NUMERO_CUENTA])
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA] CHECK CONSTRAINT [FK_NUMERO_CUENTA3]
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION] FOREIGN KEY([ID_TRANSACCION])
REFERENCES [dbo].[TRANSACCION] ([ID_TRANSACCION])
GO
ALTER TABLE [dbo].[TRANSACCION_CUENTA] CHECK CONSTRAINT [FK_TRANSACCION]
GO
ALTER TABLE [dbo].[BENEFICIARIO]  WITH CHECK ADD  CONSTRAINT [REST_BENEFICIARIO] CHECK  (([dbo].[CHECK_BENEFICIARIO]([ID_CLIENTE],[NUMERO_CUENTA])=(0)))
GO
ALTER TABLE [dbo].[BENEFICIARIO] CHECK CONSTRAINT [REST_BENEFICIARIO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [REST_TIPO_CLIENTE] CHECK  (([TIPO_CLIENTE]='INDIVIDUAL' AND [APELLIDO_1]<>NULL OR [TIPO_CLIENTE]='EMPRESA'))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [REST_TIPO_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [CHECK_PAIS] CHECK  (([dbo].[COMPARAR_PAIS]([ID_CLIENTE],[NUMERO_CUENTA])=(0)))
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [CHECK_PAIS]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [REST_CUENTA_TIPO] CHECK  (([dbo].[CHECK_CUENTA_TIPO]([ID_CLIENTE],[NUMERO_CUENTA])=(1)))
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [REST_CUENTA_TIPO]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [REST_APERTURA] CHECK  (([dbo].[CHECK_APERTURA]([NUMERO_CUENTA])=(1)))
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [REST_APERTURA]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [REST_TIPO_CUENTA] CHECK  (([TIPO_CUENTA]='COMERCIAL' OR [TIPO_CUENTA]='PREMIUM'))
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [REST_TIPO_CUENTA]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [REST_ACCION] CHECK  (([ACCION]='RETIRO' OR [ACCION]='DEPOSITO' OR [ACCION]='INVERSION'))
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [REST_ACCION]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [REST_CUENTAS] CHECK  (([dbo].[CHECK_CUENTAS]([CUENTA_ORIGEN],[CUENTA_DESTINO])=(1)))
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [REST_CUENTAS]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [REST_HORA] CHECK  (([dbo].[CHECK_HORA]([CUENTA_ORIGEN])=(1)))
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [REST_HORA]
GO
